    <IfModule mod_rewrite.c>
        Options +FollowSymlinks
        RewriteEngine On
    </IfModule>
    <ifModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
    </ifModule>

    <IfModule mod_rewrite.c>
        # если /admin, то в backend
        RewriteCond %{REQUEST_URI} ^/(admin)
        RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
        RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
        RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
        RewriteCond %{REQUEST_URI} !^/backend/web/(assets|js|css|js)/
        RewriteCond %{REQUEST_URI} ^/(admin)
        RewriteRule ^.*$ backend/web/index.php [L]
        RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
        RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
        RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
        RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
        RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
        RewriteRule ^(.*)$ frontend/web/$1 [L]
        RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js)/
        RewriteCond %{REQUEST_URI} !index.php
        RewriteCond %{REQUEST_FILENAME} !-f [OR]
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^.*$ frontend/web/index.php
    </IfModule>
    <ifModule mod_headers.c>
        #кэшировать html и htm файлы на один день
        <FilesMatch "\.(html|htm)$">
            Header set Cache-Control "max-age=43200"
        </FilesMatch>
        #кэшировать css, javascript и текстовые файлы на одну неделю
        <FilesMatch "\.(js|css|txt)$">
            Header set Cache-Control "max-age=604800"
        </FilesMatch>
        #кэшировать флэш и изображения на месяц
        <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
            Header set Cache-Control "max-age=2592000"
        </FilesMatch>
        #отключить кэширование
        <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
            Header unset Cache-Control
        </FilesMatch>

    </ifModule>

    <ifModule mod_expires.c>
        ExpiresActive On
        #по умолчанию кеш на один день
        ExpiresDefault "access plus 43200 seconds"
        #кэшировать флэш и изображения на месяц
        ExpiresByType image/x-icon "access plus 2592000 seconds"
        ExpiresByType image/jpeg "access plus 2592000 seconds"
        ExpiresByType image/png "access plus 2592000 seconds"
        ExpiresByType image/gif "access plus 2592000 seconds"
        ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
        #кэшировать css, javascript и текстовые файлы на одну неделю
        ExpiresByType text/css "access plus 604800 seconds"
        ExpiresByType text/javascript "access plus 604800 seconds"
        ExpiresByType application/javascript "access plus 604800 seconds"
        ExpiresByType application/x-javascript "access plus 604800 seconds"
        #кэшировать html и htm файлы на один день
        ExpiresByType text/html "access plus 43200 seconds"
        #кэшировать xml файлы на десять минут
        ExpiresByType application/xhtml+xml "access plus 600 seconds"
    </ifModule>