html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #CC5555;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}*/

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999999;
}

.error-summary {
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.event-render {
    margin-bottom: 3px;

}

.fc-basic_day {
    padding: 10px;
    margin: 1px 10px 15px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
}

.fc-basic_day > .fc-content {
    white-space: normal !important;
}

.fc-basic_month {
    border-radius: 20%;
    width: 15px;
    height: 15px;
    color: transparent !important;
}

.fc-header-toolbar {
    display: flex;
    flex-direction: column;
}

.fc-header-toolbar .fc-left {
    margin-bottom: 5px;
}

@media screen and (min-width: 540px) {
    .fc-header-toolbar {
        display: block;
    }

    .fc-header-toolbar .fc-left {
        margin-bottom: 0;
    }

    .fc-basic_day {
        width: calc(100% - 5%);
        margin: 0 auto 15px auto;
    }

    .fc-basic_month {
        border-radius: 3px;
        width: auto;
        height: auto;
        color: #FFFFFF !important;
    }
}

/*Delete button*/

.wrap-button {
    max-width: 200px;
    position: relative;
    z-index: 0;
}

.wrap-button .img-square {
    max-width: 150px;
    border-radius: 20px;
}

.slide-button {
    background: #FF3130;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 999;*/
}

.slide-button a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.slide-button a:hover {
    color: #FFFFFF;
}

.slide-button i {
    margin: 5px;
    font-size: 14px;
    width: 15px;
}

.slide-button-info {
    font-family: arial, serif;
    font-size: 12px;
    width: 0;
    color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    left: 15px;
    position: absolute;
    background: #FF3130;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    z-index: -1;
    transition: width 2s, height 4s;
    -webkit-transition: width 2s, height 4s;
}

.slide-button:hover .slide-button-info {
    width: 105px;
}
.fc-today {
    background: #fdcb6e !important;

}
#addphotoform-client ~ .select2-container {
    display: none;
}