/*FRONTEND*/
html,
body {
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.wrap {
    /*min-height: 100%;*/
    height: auto;
    /*margin: 0 auto -60px;*/
    padding: 60px 0 60px;
    flex: 1 0 auto;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    flex: 0 0 auto;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #CC5555;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view td {
    white-space: nowrap;
}*/

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999999;
}

.error-summary {
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.fc-basic_day {
    padding: 10px;
    margin: 1px 10px 15px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.65);
}

.fc-basic_day > .fc-content {
    white-space: normal !important;
}

.fc-basic_month {
    border-radius: 5px;
    width: 40px;
    height: auto;
}

.fc-header-toolbar {
    display: flex;
    flex-direction: column;
}

.fc-header-toolbar .fc-left {
    margin-bottom: 5px;
}
/*.event-render {*/
/*    margin-bottom: 3px;*/
/*}*/

@media screen and (min-width: 540px) {
    .fc-header-toolbar {
        display: block;
    }

    .fc-header-toolbar .fc-left {
        margin-bottom: 0;
    }

    .event-render {
        padding: 2.5px;
    }
    tr:first-child > td > .fc-basic_day{
        margin-top: 15px;
    }
    .fc-basic_day {
        width: calc(100% - 5%);
        margin: 0 auto 15px auto;
    }

    .fc-basic_month {
        border-radius: 3px;
        width: auto;
        height: auto;
        color: #FFFFFF !important;
    }
}

.img-square {
    border-radius: 20px;
}

/*Delete button*/

.wrap-button {
    max-width: 200px;
    position: relative;
    z-index: 0;
}

.wrap-button .img-square {
    max-width: 150px;
    border-radius: 20px;
}

.slide-button {
    background: #FF3130;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    /*z-index: 999;*/
}

.slide-button a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.slide-button a:hover {
    color: #FFFFFF;
}

.slide-button i {
    margin: 5px;
    font-size: 14px;
    width: 15px;
}

.slide-button-info {
    font-family: arial, serif;
    font-size: 12px;
    width: 0;
    color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    left: 15px;
    position: absolute;
    background: #FF3130;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    z-index: -1;
    transition: width 2s, height 4s;
    -webkit-transition: width 2s, height 4s;
}

.slide-button:hover .slide-button-info {
    width: 105px;
}

.fc-today {
    background: #FDCB6E !important;

}


.no-img  p img {
    display: none;
}

/*Post block*/
.post__description {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

/*Post image style*/
.post__description .note-float-right,
.post__description .note-float-left {
    box-shadow:0 3px 7px -1px rgba(0, 0, 0, 0.1);

}
.post__description .note-float-right{
    margin-left: 15px;
}
.post__description .note-float-left{
    margin-right: 15px;
}
.post__description img {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius:5px;
    box-shadow:0 3px 7px -1px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px){
    .post__title {
        font-size: 2.25rem;
    }
    .post__description .note-float-right{
        transform: perspective(3000px) rotateY(-29deg);
    }
    .post__description .note-float-left{
        transform: perspective(3000px) rotateY(29deg);
    }
}

/*Post list style*/

.post__description ol {
    list-style: none;
    padding: 0 0 0 10px;
    counter-reset: section;
}
.post__description ol li {
    position: relative;
    padding: 20px 0 20px 40px;
    cursor: pointer;
}

.post__description ol li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2);color:#0056b3;}
.post__description ol li:before {
    position: absolute;
    counter-increment: section;
    content: counters(section,".") " ";
    left: 0;
    transition: .3s ease-in-out;
    top: 20px;
}
.post__description ol li:after {
    position: absolute;
    border-left: 1px dotted #4F5151;
    content:'';
    width: 1px;
    bottom: -12px;
    left: 3px;
    top: 60px;
}


.post__inner {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.post__title {
    font-size: 1.875rem;
}
.post__meta {
    font-size: 0.6875rem;
}
.post__author--name .card-body {
    left: -20px;
}

.post__meta .card-body {
    display: none;
}
.post__meta .post__author--name:hover .card-body {
    display:block;
    z-index:1;
}
@media (min-width: 768px){
    .post__title {
        font-size: 2.25rem;
    }
}


/* -----*/

#addphotoform-client ~ .select2-container {
    display: none;
}

/* Карточка блога */

.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin: 1rem 0 1.6%;
    background: #FFFFFF;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5AD67D;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transition: transform .2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.blog-card .details a {
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: "Font Awesome 5 Free", serif;
    margin-right: 10px;
    content: "\f007";
}

.blog-card .details .date:before {
    font-family: "Font Awesome 5 Free", serif;
    margin-right: 10px;
    content: "\f133";
}

.blog-card .details .tags ul:before {
    font-family: "Font Awesome 5 Free", serif;
    content: "\f02b";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #FFFFFF;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #A2A2A2;
    margin-top: 5px;
}
.blog-card .description .truncate-text  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 4em;
}
.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a,
.read-more a {
    color: #5AD67D;
    display: inline-block;
    position: relative;
}

.blog-card .description .read-more a .fa-arrow-right,
.read-more a .fa-arrow-left {

    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover .fa-arrow-right,
.read-more a:hover .fa-arrow-left {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card .description > p:empty  {
    margin-top: 1.25rem;
}

.blog-card .description > p:empty::before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5AD67D;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }

    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }

    .blog-card .description {
        flex-basis: 60%;
    }

    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #FFFFFF;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .blog-card.alt {
        flex-direction: row-reverse;
    }

    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }

    .blog-card.alt .details {
        padding-left: 25px;
    }
}

@media (min-width: 640px) {
    .list-unstyled .blog-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
        margin: 1rem 0 1.6%;
        background: #FFFFFF;
        line-height: 1.4;
        font-family: sans-serif;
        border-radius: 5px;
        overflow: hidden;
        z-index: 0;
    }

    .list-unstyled .blog-card a {
        color: inherit;
    }

    .list-unstyled .blog-card a:hover {
        color: #5AD67D;
    }

    .list-unstyled .blog-card:hover .photo {
        transform: scale(1.3) rotate(3deg);
    }

    .list-unstyled .meta__list-views{
        position: relative;
        z-index: 0;
        height: 120px;
    }

    .list-unstyled .blog-card .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: contain;
        background-repeat:no-repeat;
        background-position: center;
        transition: transform .2s;
    }

    .list-unstyled .blog-card .details,
    .list-unstyled .blog-card .details ul {
        margin: auto;
        padding: 0;
        list-style: none;
    }

    .list-unstyled .blog-card .details {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        margin: auto;
        transition: left .2s;
        background: rgba(0, 0, 0, 0.6);
        color: #FFFFFF;
        padding: 10px;
        width: 100%;
        font-size: .9rem;
    }

    .list-unstyled .blog-card .details a {
        text-decoration: dotted underline;
    }

    .list-unstyled .blog-card .details ul li {
        display: inline-block;
    }

    .list-unstyled .blog-card .details .author:before {
        font-family: "Font Awesome 5 Free", serif;
        margin-right: 10px;
        content: "\f007";
    }

    .list-unstyled .blog-card .details .date:before {
        font-family: "Font Awesome 5 Free", serif;
        margin-right: 10px;
        content: "\f133";
    }

    .list-unstyled .blog-card .details .tags ul:before {
        font-family: "Font Awesome 5 Free", serif;
        content: "\f02b";
        margin-right: 10px;
    }

    .list-unstyled .blog-card .details .tags li {
        margin-right: 2px;
    }

    .list-unstyled .blog-card .details .tags li:first-child {
        margin-left: -4px;
    }

    .list-unstyled .blog-card .description {
        padding: 1rem;
        background: #FFFFFF;
        position: relative;
        z-index: 1;
    }

    .list-unstyled .blog-card .description h4,
    .list-unstyled .blog-card .description h5 {
        font-family: Poppins, sans-serif;
    }

    .list-unstyled .blog-card .description h4 {
        line-height: 1;
        margin: 0;
        font-size: 1.2rem;
    }

    .list-unstyled .blog-card .description h5 {
        font-size: 0.75rem;
        font-weight: 300;
        text-transform: uppercase;
        color: #A2A2A2;
        margin-top: 5px;
    }

    .list-unstyled .blog-card .description .read-more {
        text-align: right;
    }

    .list-unstyled .blog-card .description .read-more a,
    .list-unstyled .read-more a {
        color: #5AD67D;
        display: inline-block;
        position: relative;
    }

    .list-unstyled .blog-card .description .read-more a .fa-arrow-right,
    .list-unstyled .read-more a .fa-arrow-left {

        margin-left: -10px;
        opacity: 0;
        vertical-align: middle;
        transition: margin .3s, opacity .3s;
    }

    .list-unstyled .blog-card .description .read-more a:hover .fa-arrow-right,
    .list-unstyled .read-more a:hover .fa-arrow-left {
        margin-left: 5px;
        opacity: 1;
    }

    .list-unstyled .blog-card p {
        position: relative;
        margin: 1rem 0 0;
    }

    .list-unstyled .blog-card .description  p  {
        margin-top: 1.25rem;
    }

    .list-unstyled .blog-card .description  p:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #5AD67D;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
    }

    .list-unstyled .blog-card:hover .details {
        left: 0%;
    }
}